<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marik.pinafly">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBc0A2ZvON8vQW3fs1sPs67vO4zb5pQbjE,AIzaSyBuYYmkzHG21ZdE0SXCvQqrJ8K2ESo0CCE,AIzaSyDzomvmpPg1h-z9mue8xXS6L6vpwM0Q-c0" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pinafly.LoginActivity" />
        </activity>
        <activity
            android:name=".ImagePickActivity"
            android:label="@string/title_activity_image_pick_avtivity" />
        <activity
            android:name=".AllDemosActivity"
            android:label="Demos"/>
        <activity
            android:name=".ListBeaconsActivity"
            android:label="Select Beacon" />

        <activity
            android:name=".DistanceBeaconActivity"
            android:label="Distance Demo" />

        <activity
            android:name=".NotifyDemoActivity"
            android:label="Notify Demo" />

        <activity
            android:name=".CharacteristicsDemoActivity"
            android:label="Characteristics Demo" />

        <!-- Estimote service responsible for scanning beacons. -->
        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false" />
    </application>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="permission_name" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <service
        android:name="com.estimote.sdk.service.BeaconService"
        android:exported="false" />

</manifest>
